@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
}

body
{
      /*min-height: 100vh;*/
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    flex-direction: column;

}


h1 {
    margin-bottom: 30px;
    text-align: center;
}


/*lista user*/

.list-user
{
    margin-top: 10px;
    width: 100%;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    overflow-x: auto;
}
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #101c29;
    color: white;
    border-radius: 12px;
    overflow: hidden;
    font-size: 14px;
}

.search-box
{
	width : 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: center;
}
.search-box button 
{
		display : flex;
		align-items : center;
		padding: 10px;
		width: 30%;
		text-align: center;
		justify-content: center;
}


input 
{
	width : 50%;
	height: 50px;
	border-radius: 15px;
	padding-left: 10px;
	border: 1px solid black;
	margin : 10px;
	text-align: center;
}

.user-table th,
.user-table td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #243447;
}

.user-table th {
    background-color: #054282;
}

.user-table tr:hover {
    background-color: #182838;
}

.user-table button {
    padding: 8px 14px;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button {
    margin-top: 10px;
    padding: 13px;
    border: none;
    border-radius: 8px;
    background-color: #054282;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn-archive {
    background-color: #b83232;
}

.btn-active {
    background-color: #228b22;
}


.list-user-biglietti
{
    margin-top: 10px;
    width: 100%;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    overflow-x: auto;
}

@media screen and (min-width: 1024px) 
{
	
	
	
    .list-user
    {
        width: 50%;
    }

    .list-user-biglietti
    {
        width: 50%;
    }
}




/*Gestione bottoni superione*/
.section {
    display: none;
}

.section.active {
    display: block;
}

.admin-menu {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin: 20px;
}

.admin-menu button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #054282;
    color: white;
    cursor: pointer;
}

.admin-menu button:hover {
    background-color: #005FC4;
}