<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>About Us</title>
<link rel="stylesheet" href="style/aboutus.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>ABOUT US</h1>
<section class="chiSiamo">
	<h3>Chi siamo</h3>
		<p>Siamo Michele e Giovanni due ragazzi iscritti al secondo anno della laurea triennale in informatica,
 		questo è il nostro progetto realizzato nella materia Tecnologie Software per il Web nell'anno accademico: 2025/2026</p>
</section> 


<section class="descrizione">
 	<h3>Il progetto Cineverse</h3>
 		<p>CineVerse nasce dall’esigenza di trasformare la classica esperienza al cinema in un servizio più
		comodo, organizzato e accessibile online. L’obbiettivo principale del progetto è offrire agli utenti
		un servizio semplice, veloce e intuitivo per consultare la programmazione dei film, visualizzare
		orari e giorni disponibili, scegliere lo spettacolo desiderato e acquistare o prenotare il proprio
		biglietto online.
		Il sito nasce con l’idea di ridurre i disagi tipici dell’acquisto tradizionale al botteghino, come le
		lunghe file, il rischio di arrivare al cinema e trovarsi i posti esauriti, oppure la difficoltà nel reperire
		rapidamente tutte le informazioni relative a un film, come orario, date disponibili e sale di
		proiezione.
		Attraverso la piattaforma, l’utente potrà avere una panoramica completa dei film in programma e
		gestire comodamente la propria esperienza cinematografica prima ancora di arrivare al cinema.
		Inoltre, per coinvolgere sia gli utenti che utilizzano smartphone sia quelli che navigano da computer
		o tablet, il sito web sarà con un layout responsive, in grado di adattarsi automaticamente alle diverse
		dimensioni dello schermo.</p>
</section> 


<section class="tecnologie">
	<h3>Tecnologie utilizzate</h3>
		<p>Il progetto è stato sviluppato utilizzando HTML e CSS per la struttura e lo stile
     	delle pagine, JavaScript per rendere l’interfaccia più dinamica, JSP e Servlet Java
     	per la gestione lato server e MySQL per la memorizzazione dei dati.</p>
</section>      
</body>
</html>